body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-size: var(--nextui-fontSizes-base);
  line-height: var(--nextui-lineHeights-md);
  font-family: var(--nextui-fonts-sans);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
